# ASKAP Image Generation Requirements

# astronomy packages
astropy>=5.0
astroquery>=0.4.6

reproject>=0.10.0
aplpy>=2.1.0
matplotlib>=3.5.0

numpy>=1.20.0
pandas>=1.3.0

# Slack packages
slack_bolt>=1.14.0
schedule>=1.2.0

# Installation command:
# pip install -r install_requirements.txt